/* global */
* {
  font-family: "Open Sans", sans-serif;
}
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
#r {
  color: #fd6e0a;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #181818;
}
.btn-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  color: aliceblue;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 26px;
}
/* header */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-pic {
  width: 500px;
}
.greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
}
.banner-desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 500px;
}
.btn-secondary {
  background-color: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 26px;
  margin-left: 10px;
  border-radius: 5px;
}
/* main */
main{
    padding: 30px 150px;
}
/* about */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-desc{
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}

/* skill-container */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
}
section{
    padding-top: 40px;
}
/* resume section */
.column-title{
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-ins, .resume-desc{
    color: #757575;
}
.download-cv{
    text-align: center;
    margin-top: 40px;
}
/* footer */
footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 60px;
    gap: 50px;
}
.footer-colomn{
    width: 50%;
}
.contact ,input[type='text'], input[type='email'], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
}
.submit{
    background-color: #fd6e0a;
  border-radius: 5px;
  color: aliceblue;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 26px;
}